#about {
  height: 559px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
p {
  font-family: Karla;
  font-size: 16px;
  font-weight: 400;
}

.shop {
  width: 255px;
  height: 270px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../../public/assets/restaurant.jpg");
  position: relative;
  left: 120px;
  top: 85px;
}

.chef {
  position: relative;
  width: 255px;
  height: 270px;
  right: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../../public/assets/Mario and Adrian A.jpg");
}

@media screen and (max-width: 1000px) {
  #about {
    height: 559px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .shop {
    width: 255px;
    height: 270px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../../public/assets/restaurant.jpg");
    position: relative;
    left: 50px;
    top: 30px;
  }

  .chef {
    position: relative;
    width: 255px;
    height: 270px;
    right: 50px;
    bottom: 80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../../public/assets/Mario and Adrian A.jpg");
  }
}
