html {
  background-color: #ffffff;
}

h1 {
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 4rem;
  margin: 0;
  color: #f4ce14;
}

h2 {
  margin: 0;
  font-weight: 400;
  color: #ffffff;
  line-height: 30px;
  right: 0px;
}

p {
  color: #ffffff;
}

h2 {
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 3rem;
  margin: 0;
}

label {
  font-family: "Karla", serif;
  font-size: 0.5rem;
  font-weight: 500;
}

h3 {
  font-family: "Karla", serif;
  font-size: 18px;
  font-weight: 700;
}

h4 {
  font-family: "Karla", serif;
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
}

span {
  font-family: "Karla", serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
}

.btn-small {
  width: 196px;
  height: 40px;
  font-weight: 700;
  border-radius: 16px;
  background-color: #f4ce14;
  border: none;
}

.btn-small:hover {
  background-color: #fff0a3;
}
