nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 36px;
  height: 54px;
  width: auto;
  gap: 341px;
}

a {
  font-size: 0.75rem;
  color: #333333;
  font-family: "Karla", sans-serif;
  text-decoration: none;
}

a:hover {
  color: #f4ce14;
}

ul {
  display: flex;
  gap: 20px;
  background-color: #ffffff;
  list-style-type: none;
  font-weight: 800;
}

.logo {
  width: 148px;
  height: auto;
}

@media screen and (max-width: 900px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 36px;
    margin-bottom: 36px;
    height: auto;
    width: auto;
    gap: 0px;
  }
  a {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 600px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 36px;
    margin-bottom: 36px;
    height: 54px;
    width: auto;
    gap: 0px;
  }

  h2 {
    right: 0px;
  }

  ul {
    text-align: center;
    padding: 0px;
  }
}
